:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
}

.text-style {
  font-weight: 480;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.4px;
  color: #636161;
  font-variation-settings: 'wght' 420, 'slnt' 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}